	canvas{
		position:absolute;
		z-index:9;
	}

	div{
		font-family:SWRomnd;
		white-space: nowrap;
		cursor:pointer;
	}
	
	.ing-menu {
		background-color: black;
		color:white;
		position:absolute;
		top:0;
		left:0;
	}
	
	.ing-menu-show{
		position:absolute;
		top:0;
		left:0;
		z-index:1;
		hidden:true;
	}

	.menu-item {
		padding-left: 5px;
		padding-right: 5px;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		background-color:black;
		color: white;
		border-style:solid;
		border-width:2px;
		border-color:black;
		float:left;
		font-family:SWRomnd;
		font-size:0.7em;
	}
	
	.menu-item-hover {
		background-color:white;
		color: black;
		border-style:solid;
		border-width:2px;
		border-color:LightSlateGray;
		float:left;
		cursor:pointer;
		box-shadow:2px 2px 1px black;
		font-family:SWRomnd;
	}

	.menu-item-header{
		background-color:black;
		color: yellow;
		text-shadow:2px 2px red;
		font-family:SWRomnd;
		text-align:center;
		letter-spacing:20px;
	}
	
	.menu-div{
		position:absolute;
		top:0px;
	}

	.liquor-ing{
		text-align:left;
		position:absolute;
		color:white;
		z-index:20;
		
	}
	
	.liquor-ing-highlight{
		
	}
	
	.liquor-ing-nonhighlight{
		opacity:0.3;
		font-size:75%;
	}
	
	.mixer-ing{
		position:absolute;
		text-align:left;
		color:white;
		z-index:20;
	}

	.mixer-ing-highlight{
		
	}
	
	.mixer-ing-nonhighlight{
		opacity:0.3;
		font-size:75%;
	}
	
	.ingredient{
		position:absolute;
		font-size:100%;
	}

	.ingredient-nonhighlight{
		font-size:100%;
		color:RGB(50, 50, 50);
	}
	
	.ingredient-highlight{
		font-size:125%;
	}
	
	.cocktail{
		position:absolute;	
		color:white;
		text-align:center;
	}
	
	.cocktail-normal{
		font-size:0.8em;
		color:white;
		margin:5px;
		padding:2px 5px;
		z-index:10;
	}
	
	.cocktail-highlight{
		font-size:1em;
		color:white;
		margin:5px;
		padding:2px 5px;
		z-index:11;
	}
	
	.cocktail-nonhighlight{
		font-size:0.8em;
		color:white;
		margin:5px;
		padding:2px 5px;
		opacity:0.3;
		z-index:8;
	}